:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #fbfdfc;
  padding-left : 2rem;
  padding-right: 2rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.dark-mode {
  background-color: #242424;
  color: #E2E2E2;
}

.cursor-pointer {
  cursor: pointer;
}


/* Light Mode (default) */
.task-list-container {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
}

/* Dark Mode */
.dark-mode .task-list-container {
  background-color: #242424;
  color: white;
}

/* List item styles */
.dark-mode .list-group-item {
  background-color: #222;  /* Dark gray */
  color: white;
  border-color: #444; /* Slightly lighter border */
}

.dark-mode .list-group-item .text-secondary {
  color: #bbb !important; /* Adjust star icon color */
}

